<section class="bg-gray-100/50 py-4 min-h-screen">
  <div class="container m-auto max-w-5xl bg-white p-7 rounded-lg shadow-lg min-h-[90vh]">
    <div class="flex justify-between items-center">
      <div>
        <h1 class="text-xl font-bold">Employee Management System</h1>
      </div>
    </div>

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="m-auto mt-10 w-1/2 shadow-2xl p-7 rounded-2xl">

      <div class="form-group">
        <div class="space-y-2">
          <label for="name">Name</label>
          <input type="text" class="p-3 bg-gray-100 rounded-full transition-colors outline-none focus:ring-2 focus:ring-blue-500" id="name" formControlName="name"
            placeholder="Nombre del empleado" formControlName="name">
        </div>
        <div class="space-y-2">
          <label for="email">email</label>
          <input type="email" class="p-3 bg-gray-100 rounded-full transition-colors outline-none focus:ring-2 focus:ring-blue-500" id="email" formControlName="email"
            placeholder="Correo del empleado" formControlName="email">
        </div>
      </div>
      <div class="flex justify-center">
        <button class="cursor-pointer px-4 py-2 rounded-full bg-blue-500 hover:bg-blue-600 transition-colors text-white font-semibold"  
          type="submit" [disabled]="!employeeForm.valid">Registrar Empleado</button>
      </div>
    </form>

  </div>

</section>

<router-outlet> </router-outlet>