<!-- Componente principal de la aplicación -->
<section class="bg-gray-100/50 py-4 min-h-screen">
  <div class="container m-auto max-w-5xl bg-white p-7 rounded-lg shadow-lg min-h-[90vh]">
    <div class="flex justify-between items-center">
      <div>
        <h1 class="text-xl font-bold">Employee Management System</h1>
      </div>
    </div>

    <!-- Tabs -->
    <div class="flex space-x-4 mt-4">
      <button [class]="activeTab === 'form' ? 'border-b-2 border-blue-500 text-blue-500' : 'text-gray-500'"
        class="py-2 px-4 font-medium transition-colors" (click)="activeTab = 'form'">
        Registrar Empleado
      </button>
      <button [class]="activeTab === 'list' ? 'border-b-2 border-blue-500 text-blue-500' : 'text-gray-500'"
        class="py-2 px-4 font-medium transition-colors" (click)="activeTab = 'list'">
        Lista de Empleados
      </button>
    </div>

    <!-- Contenido de los tabs -->
    <div class="relative">
      <div class="tab-content" [class.active]="activeTab === 'form'" [class.inactive]="activeTab !== 'form'">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="m-auto mt-10 w-1/2 shadow-2xl p-7 rounded-2xl">
          <div class="form-group">
            <div class="space-y-2">
              <label for="name">Name</label>
              <input type="text"
                class="p-3 bg-gray-100 rounded-full transition-colors outline-none focus:ring-2 focus:ring-blue-500"
                id="name" formControlName="name" placeholder="Nombre del empleado">
            </div>
            <div class="space-y-2">
              <label for="email">email</label>
              <input type="email"
                class="p-3 bg-gray-100 rounded-full transition-colors outline-none focus:ring-2 focus:ring-blue-500"
                id="email" formControlName="email" placeholder="Correo del empleado">
            </div>
          </div>
          <div class="flex justify-center">
            <button
              class="cursor-pointer px-4 py-2 rounded-full bg-blue-500 hover:bg-blue-600 transition-colors text-white font-semibold"
              type="submit" [disabled]="!employeeForm.valid">Registrar Empleado</button>
          </div>
        </form>
      </div>
      @if (activeTab === 'list') {
      <div class="tab-content" [class.active]="activeTab === 'list'" [class.inactive]="activeTab !== 'list'">
        <app-employee></app-employee>
      </div>
      }
    </div>
  </div>
</section>

<router-outlet></router-outlet>